<!--output event binding (jokeCreated)="addJoke($event)"-->
<!--in addJoke($event), the $event is a special variable that will hold whatever object the jokeCreated emitter emitted from joke-form component-->
<!-- <app-joke-form (jokeCreated)="addJoke($event)"></app-joke-form> -->

<!-- child component -->
<h4 #header>View Jokes</h4>
<app-joke
  *ngFor="let joke of jokes"
  [joke]="joke"
  (jokeDeleted)="deleteJoke($event)"
>
  <!-- this is because we have set the <ng-content></ng-content> in the child joke component -->
  <span>{{ joke.setup }}</span>
  <h1>{{ joke.punchLine }}</h1>
</app-joke>

<br /><br /><br />
<h4>Content Jokes</h4>
<ng-content></ng-content>

<!-- <button type="button" class="btn btn-success" (click)="addJoke()">
  Add Joke
</button>

<button type="button" class="btn btn-danger" (click)="deleteJokes()">
  Clear Jokes
</button> -->
