<div *ngFor="let article of articles" class="col-md-4">
    <div class="card card-outline-primary" 
    [class.card-outline-primary]="article.kind === 'text'"
    [class.card-outline-danger]="article.kind === 'image'">
      <div class="card-block">
        <h4 class="card-title">
            {{ article.title }}
        </h4>
        <p *ngIf="article.kind === 'text'" class="card-text">
            {{ article.content }}
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated {{ article.date | date: 'MM/dd/yyyy' }}</small>
        </p>
      </div>
      <img *ngIf="article.kind === 'image'" class="card-img-bottom img-fluid" [src]="article.content">
    </div>
</div>