
<!-- Use NgNonBindable Directive to tell angular not to bind a particular section of our page
e.g.: if we ever wanted to print out the {{ myCustomText that I want to display in the way with these curly braces around it }}
we want to tell angular to render it with the curly braces cause I'm not trying to do data binding -->

<!-- Example if I wanted to render out some angular page in my view -->

<h4>NgNonBindable</h4>
<div>
    To render the name variable, we use this syntax
    <pre ngNonBindable>{{ name }}</pre>
</div>