<router-outlet></router-outlet>

<!-- <app-first></app-first>
<br />
<hr />

<app-joke></app-joke>
<br />
<hr /> -->
<app-joke-list>
  <app-joke [joke]="joke" *ngFor="let joke of jokes">
    <span>{{ joke.setup }}?</span>
    <h1>{{ joke.punchLine }}</h1>
  </app-joke>
</app-joke-list>

<br />
<br />
<br />

<hr />

<br />
<app-carousel [delay]="1000">
  <app-carousel-item *ngFor="let imageUrl of imageUrls">
    <img [src]="imageUrl" alt="" />
  </app-carousel-item>
</app-carousel>

<br />

<hr />

<app-ng-for-example></app-ng-for-example>


<br />

<hr />

<app-ng-for-grouped-example>

</app-ng-for-grouped-example>


<br />

<hr />

<app-ng-if-example></app-ng-if-example>


<br />

<hr />
<app-ng-switch-example></app-ng-switch-example>


<br />

<hr />
<app-ng-style-example></app-ng-style-example>


<br />

<hr />
<app-ng-class-example></app-ng-class-example>


<br />

<hr />
<app-ng-non-bindable-example></app-ng-non-bindable-example>

<br />

<hr />
<div class="row">
  <app-recent-articles></app-recent-articles>
</div>

<br>
<hr/>
<div class="row">
  <app-show-images></app-show-images>

</div>


<br>
<hr/>
<div class="row">
  <app-form-app>
  </app-form-app>
</div>


<br>
<hr/>
<div class="row">
  <app-pipe-builtins>

  </app-pipe-builtins>
</div>